# Monitoring Stack Integration
MONITORING_STACK=your-monitoring-stack-name

# Network Configuration
NETWORK=traefik

# code-server Configuration
#VSCODE_VER=latest
#TZ=Australia/Brisbane
PUID=1000
PGID=1000

# Traefik Configuration (required by docker-compose.traefik.yml)
VSCODE_HOST=vscode.example.com
